<form role="form">
  <div class="form-group">
    <label for="location-title">Title</label>
    {{input id="location-title" class="form-control" placeholder="Title" value=model.title}}
  </div>
  <div class="form-group">
    <label for="location-standard" class="checkbox"></label>
    {{input type="checkbox" id="location-standard" checked=model.standard}} Save this location to reuse later?
  </div>
  <div class="form-group">
    <label for="location-map">Location</label>
    <div class="input-group">
      <input type="text" class="form-control" id="location-searchText" placeholder="Location Search">
      <span class="input-group-btn">
        <button id="location-search" class="btn btn-default" type="button">Search</button>
      </span>
    </div>
    {{google-maps latitude=model.latitude longitude=model.longitude}}
  </div>
  <div class="form-group">
    <button type="button" class="{{unless savable 'disabled'}} btn btn-primary pull-right" {{action 'save'}}>Save</button>
    <button type="button" class="btn btn-default pull-right cancel" {{action 'cancel'}}>Cancel</button>
  </div>
</form>
