<div class="person">
  <div class="left">
    {{#if rank}}
      <div class="rank">
        <span>{{rank}}</span>
      </div>
    {{/if}}
    <div class="image">
      {{#link-to "users.user" model.userId}}<img class="img-circle img-responsive" src={{photoURL}} />{{/link-to}}
      {{#if model.pr}}
        <div class="result-pr">
          <i class="fa fa-trophy fa-lg"></i>
        </div>
      {{/if}}
    </div>
    <div class="info">
      <span class="name">{{#link-to "users.user" model.userId}}{{model.userName}}{{/link-to}}</span>
      {{#if editable}}
        <div class="actions">
          {{#link-to 'events.view.results.edit' model class="btn btn-default btn-xs"}}Edit{{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="results">
    {{#if shouldDisplayTime}}
      <span class="time"><i class="fa fa-clock-o"></i> {{displayTime}}</span>
    {{/if}}
    {{#if shouldDisplayReps}}
      <span class="amount">Reps: {{displayReps}}</span>
    {{/if}}
  </div>
</div>
