<div class="person">
  <div class="rank">
    <span>{{rank}}</span>
  </div>
  <div class="image">
    <img class="img-circle img-responsive" src={{photoURL}} />
  </div>
  <div class="info">
    <div class={{if shouldSplit 'half' 'whole'}}>
      <span>{{model.userName}}</span>
      {{#if model.pr}}
        <div class="result-pr">
          <i class="fa fa-trophy fa-lg"></i>
        </div>
      {{/if}}
    </div>
    {{#if shouldSplit}}
      <div class="results half">
        {{#if shouldDisplayTime}}
          <span class="time">Time: {{displayTime}}</span>
        {{/if}}
        {{#if shouldDisplayReps}}
          <span class="amount">Reps: {{displayReps}}</span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
