<form role="form">
  <div class="form-group">
    <label for="title">Title</label>
    {{input id="title" class="form-control" placeholder="Title" value=title}}
  </div>
  <div class="form-group">
    <label for="standard" class="checkbox"></label>
    {{input type="checkbox" id="standard" checked=standard}} Save this workout to reuse later?
  </div>
  <div class="form-group">
    <label for="description">Description (Optional)</label>
    {{textarea id="description" class="form-control" placeholder="Description" value=description}}
  </div>
  <div class="form-group">
    <label for="reps">Workout Reps (Optional)</label>
    {{input type="number" id="reps" class="form-control" placeholder="Reps" value=reps min="0" step="0.25" pattern="\d+(,\d{2})?"}}
  </div>
  <div class="form-group">
    <label for="allowUserReps" class="checkbox"></label>
    {{input type="checkbox" id="allowUserReps" checked=allowUserReps}} Allow users to record reps?
  </div>
  <div class="form-group">
    <label for="time">Workout time (Optional)</label>
    <div id="time" class="time-entry">
      <div>
        {{input type="number" class="form-control" placeholder="min" value=minutes min="0" pattern="\d*"}}
        <span>Minutes</span>
      </div>
      <div>
        {{input type="number" class="form-control" placeholder="sec" value=seconds min="0" pattern="\d*"}}
        <span>Seconds</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="allowUserTime" class="checkbox"></label>
    {{input type="checkbox" id="allowUserTime" checked=allowUserTime}} Allow users to record time?
  </div>
  <div class="form-group">
    <label for="allowUserPR" class="checkbox"></label>
    {{input type="checkbox" id="allowUserPR" checked=allowUserPR}} Allow users to record PR?
  </div>
  <div class="form-group">
    <button type="button" {{bind-attr class="savable::disabled :btn :btn-primary :pull-right"}} {{action 'save'}}>Save</button>
  </div>
</form>
