{{partial "alert"}}

<form role="form">
  <div class="form-group {{if error.email 'has-error'}}">
    <label for="email">Email</label>
    {{input type="email" id="email" value=email class="form-control" placeholder="Email"}}
  </div>
  <div class="form-group {{if error.password 'has-error'}}">
    <label for="password">Password</label>
    {{input type="password" id="password" value=password class="form-control" placeholder="Password"}}
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary pull-right" {{action 'login'}} data-loading-text="Loging In...">Log In</button>
    {{#link-to 'auth.forgot' class="btn btn-link pull-left"}}Forgot password?{{/link-to}}
  </div>
</form>
