<h3>Terms and Conditions</h3>
<form role="form">
  <div class="form-group" class={{if error.tribe 'has-error'}}>
    {{view "select" content=controllers.tribes.model
                    optionValuePath="content"
                    optionLabelPath="content.title"
                    prompt="Select a Tribe"
                    value=tribe
                    class="form-control"}}
  </div>
  <div class="form-group" class={{if error.terms 'has-error'}}>
    <label class="checkbox">
      {{input type="checkbox" id="terms" checked=acceptedTerms}} Accept <a target='_blank' href='http://november-project.com/disclaimer/'>Terms and Conditions</a>
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary pull-right" {{action 'submitTerms'}} data-loading-text="Saving...">Save</button>
  </div>
</form>
