<div class="center top-margin">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="{{if filterStandard 'active'}} btn btn-default" {{action 'showStandard'}}>Standard</button>
    <button type="button" class="{{unless filterStandard 'active'}} btn btn-default" {{action 'showNonStandard'}}>Non-Standard</button>
  </div>
</div>

<div class="top-margin">
  <div class="list-group">
  {{#link-to 'admin.workouts.new' class="list-group-item"}}
    <h4 class="list-group-item-heading">Create New Workout</h4>
  {{/link-to}}

  {{#each filteredContent as |workout|}}
    {{#link-to 'admin.workouts.edit' workout class="list-group-item"}}
      <h4 class="list-group-item-heading">{{workout.title}}</h4>
      <p class="list-group-item-text">{{workout.description}}</p>
    {{/link-to}}
  {{/each}}
  </div>
</div>
