<form role="form" onsubmit='return false;'>
  <div class="form-group">
    <label for="recurring" class="checkbox"></label>
    {{input type="checkbox" id="recurring" checked=event.recurring}} Recurring Event
  </div>
  {{#if event.recurring}}
    <div class="well well-sm schedule-well">
      <h4>Schedule</h4>
      <div class="form-group">
        <label>Repeat On:</label>
        {{#each daysOfWeek as |day|}}
          {{input type="checkbox" id=day.word checked=day.checked}} {{day.letter}}
        {{/each}}
      </div>
      <div class="form-group">
        <label>Repeat Every:</label>
          {{select-control options=weekOptions
            optionTitlePath="label"
            optionValuePath="value"
            value=event.week
            classes="form-control week-select"}}
      </div>
    </div>
  {{/if}}
  <div class="form-group">
    <label for="times">Times:</label>
    {{tag-control id="times" model=event.timesArray remove='removeTime' validate='validateTime' add='addTime'}}
  </div>
  {{#if editingWorkout}}
    <div class="well well-sm">
      {{workout-form model=workout action='saveWorkout' cancel='cancelWorkout'}}
    </div>
  {{else}}
    <div class="form-group">
      <label for="workout-select">Workout:</label>
      <div class="event-item">
        <div class="event-item-select">
          {{select-control options=workouts
              optionTitlePath="title"
              prompt="Select a Workout"
              value=workout
              id="workout-select"
              classes="form-control"}}
        </div>
        <div class="event-item-buttons">
          <button type="button" class="btn btn-default" {{action 'editWorkout'}}>Edit</button>
          <button type="button" class="btn btn-default" {{action 'newWorkout'}}>New</button>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if editingLocation}}
    <div class="well well-sm">
      {{location-form model=location action='saveLocation' cancel='cancelLocation'}}
    </div>
  {{else}}
    <div class="form-group">
      <label for="location-select">Location:</label>
      <div class="event-item">
        <div class="event-item-select">
          {{select-control options=locations
            optionTitlePath="title"
            prompt="Select a Location"
            value=location
            id="location-select"
            classes="form-control"}}
        </div>
        <div class="event-item-buttons">
          <button type="button" class="btn btn-default" {{action 'editLocation'}}>Edit</button>
          <button type="button" class="btn btn-default" {{action 'newLocation'}}>New</button>
        </div>
      </div>
    </div>
  {{/if}}
  <div class="form-group">
    <button type="button" class="{{unless savable 'disabled'}} btn btn-primary pull-right" {{action 'save'}}>Save</button>
    <button type="button" class="btn btn-default pull-right cancel" {{action 'cancel'}}>Cancel</button>
  </div>
</form>
