<div class="workout">
  <h1>{{displayDate}}</h1>
  <h2>{{displayTitle}}</h2>
  <a class="btn-link" href={{mapLink}} target="_blank">View location</a>
  <h3>@ {{displayTimes}}</h3>

  {{#if model.isFutureEvent}}
    {{verbal-list verbals=model.verbals currentUser=session.user takeBackVerbal="takeBackVerbal" giveVerbal="giveVerbal"}}
  {{else}}
    <div class="btn-group btn-group-justified" style="margin-top:10px;margin-bottom:10px;" role="group">
      <a role="button" class="btn btn-default active" role="tab" data-toggle="tab" href="#verbals" {{action "changeTab" "verbals"}}>Verbals</a>
      <a role="button" class="btn btn-default" role="tab" data-toggle="tab" href="#results" {{action "changeTab" "results"}}>Results</a>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="verbals">
        {{verbal-list verbals=model.verbals currentUser=session.user disableActions=true}}
      </div>
      <div role="tabpanel" class="tab-pane" id="results">
        {{result-list results=model.results currentUser=session.user times=model.timesArray workout=model.workout newResult="newResult"}}
      </div>
    </div>
  {{/if}}
</div>
